body {
    background-color: #EEECE1;
    justify-content: center;
}

/* Add blur effect to non-focused containers */
.swiper-slide:not(.swiper-slide-active) {
    filter: blur(5px); /* Adjust the blur amount as needed */
  }

.swiper-container {
    width: 350px;
    height: 550px;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    width: 100%;
    height: auto;
    text-align: left;
    cursor: pointer;
    line-height: 1.5;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    background-image: url('bg.jpg');
    background-size: cover; /* Adjusts the size of the background image */
    background-position: center; /* Centers the background image */
  }

#slide-01, #end-mark, #end-slide, .credit {
    text-align: center;
}

.credit img {
  width: 20px;
  height: 20px;
  vertical-align: sub;
}