body {
    background-color: #EEECE1;
    justify-content: center;
}

/* Add blur effect to non-focused containers */
.swiper-slide:not(.swiper-slide-active) {
    filter: blur(5px); /* Adjust the blur amount as needed */
  }

.swiper-container {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: left;
    cursor: pointer;
    width: auto;
    height: auto;
    position: absolute;
    line-height: 1.5;
  }

#slide-01 {
    text-align: center;
}
