body {
    background-color: #EEECE1;
    justify-content: center;
}

.swiper-container {
    width: 350px;
    height: 575px;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    width: 100%;
    height: auto;
    text-align: left;
    cursor: pointer;
    line-height: 1.5;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    background-image: url('bg.jpg');
    background-size: cover; /* Adjusts the size of the background image */
    background-position: center; /* Centers the background image */
  }

.swiper-pagination {
  margin-top: 20px;
  position: relative;
}

#slide-01, #end-mark, #end-slide, .credit {
    text-align: center;
}

#ig_name{
  display: inline-flex;
  align-items: center; /* Align items vertically in the center */
}
#ig_icon {
  
}
#ig_text {
  /* Your text styles */
}